<!DOCTYPE html>
<html>
<head>
    <title>MIKA Gaming Store</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1 class="title">🎮 MIKA GAMING STORE</h1>
    <form action="/submit" method="post" enctype="multipart/form-data">
        <input type="text" name="name" placeholder="Nama" required><br>
        <input type="email" name="email" placeholder="Email" required><br>
        <input type="text" name="bank" placeholder="TNG/BANK" required><br>
        <input type="text" name="product" placeholder="Nama Produk" required><br>
        <input type="file" name="resit" required><br>
        <button type="submit">Beli Sekarang</button>
    </form>
</body>
</html>
